body {
  background: linear-gradient(to right, blue,  cyan);
  color: #00e600;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header {
   background: rgba(0,0,0,0.5);
  width: 100%;
  height: 1.5em;
  display: flex;
  justify-content: center;
  position: fixed;
 font-size: 3em;
 font-family: 'Orbitron', sans-serif;
 
}
h2 {
  display: flex;
  justify-content: center;
  font-size: 2em;
 font-family: 'Orbitron', sans-serif;
}
p {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  font-family: 'Josefin Sans', sans-serif;
}
.social{
  width: 50%;
  display: flex;
  justify-content: space-around;
font-size: 4em;
}

#logo {
  margin: 5em 0 5em 0;
  height: 20em;
  width: 20em;
  border-radius: 50%;
}

#intro {
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin-bottom: 20em;
}
#start {
 font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 4s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
  background: none;
}
#start:hover {
transition: 2s;
  background: linear-gradient(to right, cyan,  cyan) ;
  border: 2px solid #2dc997;
}
#projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.project {
  background: rgba(0,0,0,0.5);
  border-radius: 5%;
  margin-bottom: 3em;
  transition: 1s;
}
.project:hover {
  transform: scale(1.1);
}
.projectlink {
  width: 30em;
  height: auto;
}

/*OVERLAY TEXT HOVER EFFECT ON PROJECT IMAGES*/
.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}
.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  border-radius: 5%;
}
.hvrbox img {
  max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
  display: block;
}
.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}
.hvrbox .hvrbox-text {
  text-align: center;
  font-size: 1.5em;
  font-family: 'Josefin Sans', sans-serif;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}
.hvrbox.active .hvrbox-text_mobile {
  display: block;
}
