<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="main.css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">

  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"> 

  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


  <title>Vincent Shelnutt</title>
</head>
<body>


<header>Vincent Shelnutt</header>
<!-- INTRO SECTION -->
<section id="intro">
    <img id="logo" alt="logo" src="logo.jpg">
  <div class="social">
    <a href="https://github.com/vshelnutt"><i class="fab fa-github"></i></a><a href="#projects"><button class="start">My Portfolio</button></a><a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
<!-- CONTACT SECTION -->      
        <div class="start" id="contact">Contact</div>
 
<div id="hiddenForm">
  <div id="contactForm">
 
  <h4>Call/text me at 281 850 6002, or...<br>Send me a message!</h4>
  <small>I'll get back to you as quickly as possible</small>
  <form action="#" method="POST">
    <input placeholder="Name" type="text" name="name" required />
    <input placeholder="Email" type="email" name="email" required />
    <input placeholder="Subject" type="text" name="message" required />
    <textarea placeholder="Comment"></textarea>
    <input class="start" type="submit" />
    <input class="start" type="reset" />
  </div>
  </form>
</div>
</div>

</section>
<!-- PROJECTS SECTION -->
<section id="projects">
  <article class="project">
    <a href = "http://prestigeinsurancetexas.com/">
      <h2>Prestige Insurace Texas</h2>
      <div class="hvrbox">
        <img class="projectlink" src ="prestige.jpg" alt = "Prestige Insurance">
        <div class="hvrbox-layer_top">
          <div class="hvrbox-text">A static, single page website, hosted on a my Raspberry Pi using a LAMP stack. Built with HTML, CSS, JavaScript, jQuery, and PHP.   </div>
        </a>
      </div>
      <p>An interactive insurance company website. </p>
    </div>
  </article>

<article class="project">
    <a href = "http://ohanadentisthouston.com">
      <h2>Ohana Dental</h2>
      <div class="hvrbox">
        <img class="projectlink" src= "ohana.jpg" alt = "Ohana">
        <div class="hvrbox-layer_top">
          <div class="hvrbox-text">A simple website made for a dentists advertising and marketing needs.</div>
        </a>
      </div>
      <p>A fast and responsive dental website.</p>  
    </div>                         
  </article>

  <article class="project">
    <a href = "http://my-little-pwny.com/willetstore/">
      <h2>Willet Run Automotive</h2>
      <div class="hvrbox">
        <img class="projectlink" src= "willetstore.png" alt = "Willet Run Automotive">
        <div class="hvrbox-layer_top">
          <div class="hvrbox-text">A custom WordPress ecommerce site, built using the WooCommerce plugin. A simple, yet effective solution.</div>
        </a>
      </div>
      <p>A basic and functional Ecommerce website.</p>  
    </div>                         
  </article>

    <article class="project">
    <a href = "http://my-little-pwny.com/eliteRealty/">
      <h2>Elite Realty</h2>
      <div class="hvrbox">
        <img class="projectlink" src= "elite.jpg" alt = "Elite Realty">
        <div class="hvrbox-layer_top">
          <div class="hvrbox-text">A custom WordPress Real Estate website.</div>
        </a>
      </div>
      <p>A custom WordPress Real Estate website.</p>  
    </div>                         
  </article>


  <article class="project">
    <a href = "http://my-little-pwny.com/colorGame.html">
      <h2>colorGame</h2>
      <div class="hvrbox">
        <img class="projectlink" src= "colorGame.jpg" alt = "colorGame">
        <div class="hvrbox-layer_top">
          <div class="hvrbox-text">A fun game meant to sharpen your skills in guessing which RGB values you need. Written in Vanilla JavaScript.</div>
        </a>
      </div>
      <p>An RGB color guessing game.</p>  
    </div>                         
  </article>

 


</section>
 <button onclick="topFunction(50)" id="myBtn" title="go to top"><i class="fas fa-chevron-circle-up"></i></button>
</body>
<script type="text/javascript" src="topArrow.js"></script>
<script type="text/javascript" src="contact.js"></script>
</html>